<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic</title>
    <link rel="stylesheet" href="../../lib/qunit/qunit.css">
    <script src="../../lib/qunit/qunit.js"></script>
    <script src="../../lib/sinon/index.js"></script>

    <script src="../../lib/jquery/jquery.js"></script>
    <script src="../../lib/jquery-simulate/jquery.simulate.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../dist/jquery.jmpress.default.js"></script>

    <script src="../../dist/angular-jmpress.js"></script>

    <script src="directive.js"></script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
      <div id="initialization" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="active-step" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="data-attributes" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="steps-async" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="method-call" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-init="init()"
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
        <button class="method-call-trigger" data-ng-click="next()"></button>
      </div>
      <div id="watch-changes-array" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
        <button class="add-step-trigger" data-ng-click="addStep()"></button>
      </div>
      <div id="initial-step-hash" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="steps-as-children" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="presentation.slides">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="watch-keyboard" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="initial-step" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps" data-jmpress-step>
            Step {{ step.number }}
          </div>
        </div>
        <button class="initial-step-assertion" data-ng-click="assert()"></button>
      </div>
    </div>
  </body>
</html>