<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic</title>
    <link rel="stylesheet" href="../../lib/qunit/qunit.css">
    <script src="../../lib/qunit/qunit.js"></script>
    <script src="../../lib/sinon/index.js"></script>

    <script src="../../lib/jquery/jquery.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../dist/jquery.jmpress.default.js"></script>

    <script src="../../dist/angular-jmpress.js"></script>

    <script src="directive.js"></script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
      <div id="initialization" ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps">
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="active-step" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps">
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="data-attributes" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps">
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="steps-async">
        <div data-jmpress-root
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps">
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="settings" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-steps="steps"
             data-jmpress-settings="settings">
          <div class="step" data-ng-repeat="step in steps"
               data-ng-attr-id="settings-number-{{ step.number }}">
            Step {{ step.number }}
          </div>
        </div>
      </div>
      <div id="method-call" data-ng-controller="Controller">
        <div data-jmpress-root
             data-jmpress-init="init()"
             data-jmpress-steps="steps">
          <div class="step" data-ng-repeat="step in steps"
               data-ng-attr-id="settings-number-{{ step.number }}">
            Step {{ step.number }}
          </div>
          <button id="method-call-trigger" ng-click="next()"></button>
        </div>
      </div>
    </div>
  </body>
</html>